# python / django
__pycache__/
*.pyc
*.pyo
*.sqlite3

# virtual environment
.venv/

# environment variables
.env

# static / media
/media/
staticfiles/

# editor settings
.vscode/
.idea/

# logs
*.log
